.custom-Img{
    display: block;
    margin: auto;
    height:500px;
    width: 800px;
    border-radius: 10px;
    
    
}
body{
    background-image: linear-gradient(90deg, rgb(206, 201, 216), rgb(144, 199, 165));
    /* margin: 50px; */
     background-size: scroll;
    background-size: cover; 
 
}
.description{
     border: 2px solid rgb(13, 13, 14); 
    border-radius: 2px solid rgb(104 104 112);
 
    height: auto;
    width: 800px;
    /* margin-left: 500px;
    margin-top: 20px;
    margin-bottom: 20px; */
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;

   
    
}

.mycontainer{
    margin-right: 10px;
    margin-left: 10px;
}

.Datesclass{
    display: block;
    margin: auto;
    border: 2px solid rgb(13, 13, 14);
    width: 800px;
    height: auto;
    text-align: justify;
    padding: 10px;
}

.messageclass{
    display: flex;
    justify-content: center;
    width: 800px;
    height: auto;
}

