<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

<div *ngIf="EventData">
    <div>
        <h2 style="text-align: center; margin: top 10px; color: rgb(28, 226, 117);">{{EventData.Name}}</h2> 
        <img *ngIf="ImageType == 'jpeg' || ImageType == 'png' " class="custom-Img"  [src]="'data:image/jpeg;base64,' + Base64Image"/>
        <img *ngIf="ImageType == 'svg'" class="custom-Img"  [src]="'data:image/svg+xml;base64,' + Base64Image"/>


    </div>

  <div style="border: 2px solid rgb(40, 236, 99); margin: 5px;">
    {{EventData.Description}}
  </div>

  <div style="border: 2px solid rgb(61, 38, 161);">
    <p>Notes the Dates</p>
    <p>Start Date: {{EventData.StartDate}}</p>
    <p>End Date: {{EventData.EndDate}}</p>
  </div>



    <div class="box" *ngIf="ActivityData">
        <h2 style="text-align: center;margin-bottom: 21px;margin-top: 21px;"> Activities </h2>
        <table class="table table-bordered tb-custom">
            <thead>
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">ActivityName</th>
                    <th scope="col">Description</th>
                    <th scope="col">StartDate</th>
                    <th scope="col">EndDate</th>
                    <th scope="col">Price</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let obj of ActivityData;let i = index">
                    <td>{{i+1}}</td>
                    <td>{{obj.Name}}</td>
                    <td>{{obj.Description}}</td>
                    <td>{{obj.StartDate}}</td>
                    <td>{{obj.EndDate }} </td>
                    <td>{{obj.Price }} </td>
                </tr>

            </tbody>
        </table>

    </div>

    <div *ngIf="Message" class="Message mt-3" style="color: red;"><b> {{Message}}</b>
</div>

</div>

<div *ngIf="!EventData" style="color: red; margin: 5px;">
    please first go to Event Page And select Event which you want to see in Detail
</div>

</body>

</html>