.custom-Img{
    display: block;
    margin: auto;
    height:auto;
    width: auto;
    border-radius: 10px;
    
    
}
body{
    background-image: linear-gradient(90deg, rgb(206, 201, 216), rgb(144, 199, 165));
    /* margin: 50px; */
    background-size: scroll;
 
}
.description{
    border: 2px solid rgb(84, 31, 207);
 
    height: auto;
    width: 500px;
    /* margin-left: 500px;
    margin-top: 20px;
    margin-bottom: 20px; */
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;

   
    
}

.mycontainer{
    margin-right: 10px;
    margin-left: 10px;
}
