/* .my-class{
    margin: 10px;
} */

body{
    /* margin: 100px;
    margin-top: 50px; */
}

/* .my-class{
 margin: 10px;
} */

.tbl{
    border: 3px solid black;
    border-radius: 5px;
    margin-bottom: 10px;

}

.Componentdata{
    width: 80%;
    /* height: 80vh; */
    /* background-color: rgb(15, 153, 26); */
}