<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <div class="container">

<div class="formclass">
    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <h2  class="heading">Login</h2>
      </div>
      <div class="form-group">
        <label style="float: left;" for="Flag">Role:</label>
        <select class="form-control" id="Flag" formControlName="Flag">
          <option value="">Select Type</option>
          <option value="UserLogin">User Login</option>
          <option value="AdminLogin">Admin Login</option>
        </select>
        <div *ngIf="userForm?.get('Flag').errors?.required && submitted" class="text-danger">
        Login Type is required
        </div>
      </div>

      <div class="form-group">
        <label style="float: left;" for="Email">Email: <fa-icon class="iconclass"
          [icon]="OTPverifies?checkIcon:UncheckIcon"></fa-icon></label>
        <input (keyup)="ShowInbox()" type="email" class="form-control" id="Email" formControlName="Email">
        
        <div *ngIf="showTextfield == true && OTPverifies != true ">
          <button (click)="GenerateOTP()">Generate</button>
        </div>
        <div *ngIf="OTPMessage && IsOTP != true"  class="text-danger">
          {{OTPMessage}}
         </div>
         <div *ngIf="OTPMessage && IsOTP == true" [ngStyle]="{'color':OTPverifies != false? 'green':'red'}">
           {{OTPMessage}}
          </div>
        <div *ngIf="userForm?.get('Email').errors?.required && submitted" class="text-danger">
          Email is Required
        </div>
        <div *ngIf="userForm?.get('Email').errors?.pattern && submitted" class="text-danger">
          Please Enter valid Email
        </div>
      </div>

      <div *ngIf="IsOTP == true" class="form-group">
        <label style="float: left;" for="OTP">OTP</label>
        <input type="number" class="form-control" id="OTP" formControlName="OTP">
        <button (click)="VerifyOTP()">verify</button>
       
        
      </div>

      <div class="form-group">
        <label style="float: left;" for="email">Password:</label>
        <input type="password" class="form-control" id="Password" formControlName="Password">
        <div *ngIf="userForm?.get('Password')?.errors?.required && submitted" class="text-danger">
          Password is required.
        </div>
        <div *ngIf="userForm?.get('Password').errors?.pattern && submitted" class="text-danger">
          Please Enter valid Password
        </div>
      </div>
      <div class="mt-5">
        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
      </div>
    

      <div class="already">
        Don't have an account?
        <a style="color: blue;" routerLink = "/Register" > Register</a>
      </div>

      <div class="already">
        Forget Password?
        <a style="color: blue;" routerLink = "/ForgetPassword" > Forget Password</a>
      </div>

      <div *ngIf="Message" class="Message mt-3" [ngStyle]="{'color':OTPverifies != false? 'green':'red'}"><b>
        {{Message}}</b>

    </div>
    </form>
  </div>
</div>

</body>

</html>