<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div *ngIf="EventData" class="my-class">
        <h2 style="text-align: center;margin-bottom: 21px;margin-top: 10px;"> Events </h2>
        <div class="tbl border border-secondary   ">
            <table class="table table-bordered tb-custom table-striped ">
                <thead>
                    <tr>
                        <th scope="col">Index</th>
                        <th scope="col">EventName</th>
                        <th scope="col">Description</th>
                        <th scope="col">StartDate</th>
                        <th scope="col">EndDate</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Update</th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let obj of EventData;let i = index">
                        <td>{{i+1}}</td>
                        <td>{{obj.Name}}</td>
                        <td>{{obj.Description}}</td>
                        <td>{{obj.StartDate.toString().slice(0,10)}}</td>
                        <td>{{obj.EndDate.toString().slice(0,10) }} </td>
                        <td> <button type="button" class="Item" Id="Delete-Event" class="btn btn-outline-secondary"
                                (click)=" Delete(obj.EventId)"><fa-icon [icon]="Icon"></fa-icon> Delete</button></td>
                        <td> <button type="button" class="Item" Id="Update-Event" class="btn btn-outline-secondary"
                                (click)=" Update(i)"><fa-icon [icon]="editIcon"></fa-icon> Update</button></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="Message" class="Message mt-3" style="color: red;"><b> {{Message}}</b>
    </div>

</body>

</html>