body{
    margin: 5px;
    opacity: 1;
}

.my-class{
     margin-right: 20px;
     margin-left: 20px;
     margin-bottom: 20px;
}
body{
    padding: 0px;
    margin: 0px;
    /* background-color: #282129;
    background-size:cover ; */
}

.tbl{
    border: 3px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    border-radius: 5px solid black;
}