<!-- <input type="file" name="" id="ok" (change) = "submit($event)"> -->


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script type="text/javascript" src="https://www.turnjs.com/lib/turn.min.js "></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

  <div *ngIf="EventData" class="container">

    <div class="formclass">
      <form [formGroup]="userForm" (ngSubmit)="submitForm()">
        <h2 class="heading">Add Activity</h2>

        <div class="form-group">
          <label style="float: left;" for="EventId">EventName</label>
          <select class="form-control" id="EventId" formControlName="EventId" (change)="chnageevent()">
            <option value="">Select Type</option>
            <option *ngFor="let obj of EventData" value={{obj.EventId}}>{{obj.Name}}</option>

          </select>
          <div *ngIf="userForm?.get('EventId')?.invalid && submitetd" class="text-danger">
            select Event
          </div>
        </div>


        <div class="form-group">
          <label style="float: left;" for="Name">Name:</label>
          <input type="text" class="form-control" id="Name" formControlName="Name">
          <div *ngIf="userForm?.get('Name').errors?.required && submitetd" class="text-danger">
            Name is Required
          </div>
          <div *ngIf="userForm?.get('Name').errors?.pattern && submitetd" class="text-danger">
            Please wrte valid name
          </div>
        </div>



        <div class="form-group">
          <label style="float: left;" for="Description">Description:</label>
          <textarea class="form-control" id="Description" rows="3" formControlName="Description"></textarea>
          <div *ngIf="userForm?.get('Description')?.invalid && submitetd" class="text-danger">
            Please Enter Description
          </div>
        </div>


        <div class="form-group">
          <label style="float: left;" for="StartDate">StartDate:</label>
          <input type="datetime-local" [max]="userForm?.get('EndDate')?.value" [max]="max" [min]="min" id="StartDate"
            formControlName="StartDate">
          <div *ngIf="userForm?.get('StartDate')?.errors?.required && submitetd" class="text-danger">
            Please select start date
          </div>

        </div>


        <div class="form-group">
          <label style="float: left;" for="EndDate">EndDate:</label>
          <input type="datetime-local" [max]="max" [min]="min" [min]="userForm?.get('StartDate')?.value" id="EndDate"
            formControlName="EndDate">
          <div *ngIf="userForm?.get('EndDate')?.errors?.required && submitetd" class="text-danger">
            Please select End date
          </div>
        </div>

        <div *ngIf="userForm?.get('EndDate').errors?.InvalidDateRange && submitetd" class="text-danger">
          Please select valid startdate and End date
        </div>






        <button type="submit" class="btn btn-success custom">Submit</button>

        <div *ngIf="Message" class="Message mt-3" style="color: green;"><b> {{Message}}</b>

        </div>
      </form>
    </div>


    <div class="prenext">
      <div class="Previous">
        <button type="button" class="btn btn-info" (click)="this.service.ComponentName='Add-Event'">Previous</button>
      </div>

      <div class="Next">
        <button type="button" (click)="this.service.ComponentName='Add-Price'" class="btn btn-info">Next</button>
      </div>
    </div>
  </div>
  <div *ngIf="!EventData">
    <div *ngIf="Message" class="text-danger mt-3">
      <b>Do not have Any Events</b>
      <p>First Add some Events To Add an activities</p>
    </div>
  </div>





</body>

</html>