<!-- <input type="file" name="" id="ok" (change) = "submit($event)"> -->


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script type="text/javascript" src="https://www.turnjs.com/lib/turn.min.js "></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

  <div *ngIf="EventData" class="container">
    <h2 class="heading">Add Activity</h2>
    <hr style="color: rgb(19, 128, 122);">
    <form [formGroup]="userForm" (ngSubmit)="submitForm()">


      <div class="form-group">
        <label for="EventId">EventName</label>
        <select class="form-control" id="EventId" formControlName="EventId" (change)="chnageevent()" >
          <option value="">Select Type</option>
          <option  *ngFor="let obj of EventData" value={{obj.EventId}}>{{obj.Name}}</option>

        </select>
        <div *ngIf="userForm?.get('EventId')?.invalid && submitetd" class="text-danger">
          select Event
        </div>
      </div>


      <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" formControlName="Name">
        <div *ngIf="userForm?.get('Name').errors?.required && submitetd" class="text-danger">
          Name is Required
        </div>
        <div *ngIf="userForm?.get('Name').errors?.pattern && submitetd" class="text-danger">
          Please wrte valid name
        </div>
      </div>



      <div class="form-group">
        <label for="Description">Description</label>
        <textarea class="form-control" id="Description" rows="3" formControlName="Description"></textarea>
        <div *ngIf="userForm?.get('Description')?.invalid && submitetd" class="text-danger">
          Please Enter Description
        </div>
      </div>


      <div class="form-group">
        <label for="StartDate">StartDate</label>
        <input type="datetime-local" [max]="max" [min]="min"  id="StartDate" formControlName="StartDate">
        <div *ngIf="userForm?.get('StartDate')?.errors?.required && submitetd" class="text-danger">
          Please select start date
        </div>

      </div>


      <div class="form-group">
        <label for="EndDate">EndDate</label>
        <input type="datetime-local" [max]="max" [min]="min" id="EndDate" formControlName="EndDate">
        <div *ngIf="userForm?.get('EndDate')?.errors?.required && submitetd" class="text-danger">
          Please select End date
        </div>
      </div>

      <div *ngIf="userForm?.get('EndDate').errors?.InvalidDateRange && submitetd" class="text-danger">
        Please select valid startdate and End date
      </div>


  



      <button type="submit" class="btn btn-primary">Submit</button>

      <div *ngIf="Message" class="Message mt-3" style="color: green;"><b> {{Message}}</b>

      </div>
    </form>
  </div>

  <div *ngIf="!EventData">
    <div *ngIf="Message" class="text-danger mt-3" style="color: green;"><b>Do not have Any Events</b>
    </div>
  </div>





</body>

</html>