<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="box">
        <div class="sidebar">

            <div class="Child" routerLink="/AdminDashboard/Admin-Event">
                <div class="rowitem">
                    <button type="button" class="Item" Id="Add-Event">
                        <fa-icon class="iconclass" [icon]="DashboardIcon"></fa-icon>&nbsp; <b>Home</b></button>
                </div>
            </div>

            <div class="Child" routerLink="/AdminDashboard/AddEvent">
                <div class="rowitem">
                    <button type="button" class="Item" Id="Add-Event">
                        <fa-icon class="iconclass" [icon]="Icon"></fa-icon>&nbsp; <b>Add Event</b></button>
                </div>
            </div>
            <div class="Child" routerLink="/AdminDashboard/AddActivity">
                <div class="rowitem">

                    <button type="button" class="Item" Id="Add-Activity"> <fa-icon class="iconclass"
                            [icon]="Icon"></fa-icon>&nbsp; <b>Add
                            Activity</b></button>
                </div>
            </div>

            <div class="Child" routerLink="/AdminDashboard/AddPrice">
                <div class="rowitem">

                    <button type="button" class="Item" Id="Add-Price"><fa-icon class="iconclass"
                            [icon]="Icon"></fa-icon>&nbsp; <b>Add
                            Price</b></button>
                </div>
            </div>

            <div class="Child" routerLink="/AdminDashboard/Publish">
                <div class="rowitem">

                <button type="button" class="Item" Id="Publish">
                  <fa-icon class="iconclass" [icon]="uploadIcon"></fa-icon>&nbsp; <b>Publish</b></button>
            </div>
        </div>

            <div class="Child" routerLink="/AdminDashboard/calander">
                <div class="rowitem">

                <button type="button" class="Item" Id="Publish">
                   <fa-icon class="iconclass" [icon]="calanderIcon"></fa-icon>&nbsp; <b>calendar</b></button>
            </div>
        </div>


            <div class="Child" routerLink="/AdminDashboard/chart">
                <div class="rowitem">

                <button type="button" class="Item" Id="Publish">
                   <fa-icon class="iconclass" [icon]="chartIcon"></fa-icon>&nbsp; <b>Chart</b></button>
            </div>
        </div>
        </div>

        <div class="Componentdata">
            <!-- <app-admin-events class="component my-component "
                *ngIf="this.eventServiec.ComponentName == 'default'"></app-admin-events>
            <app-add-event [message]="ok" class="component"  *ngIf="this.eventServiec.ComponentName == 'Add-Event'"></app-add-event>
            <app-add-activity class="component" *ngIf="this.eventServiec.ComponentName =='Add-Activity'"></app-add-activity>
            <app-add-price class="component" *ngIf="this.eventServiec.ComponentName == 'Add-Price'"></app-add-price>
            <app-publish class="component" *ngIf="this.eventServiec.ComponentName == 'Publish'"></app-publish>
            <app-update-event class="component" *ngIf="this.eventServiec.ComponentName == 'Update-Event'"></app-update-event>
            <app-calander class="component" *ngIf="this.eventServiec.ComponentName == 'calander'"></app-calander> -->
            <router-outlet></router-outlet>

        </div>

    </div>

</body>

</html>