<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="box">
        <div class="sidebar">

            <div class="Child" (click)="this.eventServiec.ComponentName='default'">
                <div class="rowitem">
                    <button type="button" class="Item" Id="Add-Event" (click)="this.eventServiec.ComponentName='default'">
                        <fa-icon class="iconclass" (click)="this.eventServiec.ComponentName='default'"
                            [icon]="DashboardIcon"></fa-icon>&nbsp; <b>Home</b></button>
                </div>
            </div>

            <div class="Child" (click)="this.eventServiec.ComponentName='Add-Event'">
                <div class="rowitem">
                    <button type="button" class="Item" Id="Add-Event" (click)="this.eventServiec.ComponentName='Add-Event'">
                        <fa-icon class="iconclass" (click)="this.eventServiec.ComponentName='Add-Event'"
                            [icon]="Icon"></fa-icon>&nbsp; <b>Add Event</b></button>
                </div>
            </div>
            <div class="Child" (click)="this.eventServiec.ComponentName='Add-Activity'">
                <div class="rowitem">

                    <button type="button" class="Item" Id="Add-Activity"
                        (click)="this.eventServiec.ComponentName='Add-Activity'"> <fa-icon class="iconclass"
                            (click)="this.eventServiec.ComponentName='Add-Event'" [icon]="Icon"></fa-icon>&nbsp; <b>Add
                            Activity</b></button>
                </div>
            </div>

            <div class="Child" (click)="this.eventServiec.ComponentName='Add-Price'">
                <div class="rowitem">

                    <button type="button" class="Item" Id="Add-Price"
                        (click)="this.eventServiec.ComponentName='Add-Price'"><fa-icon class="iconclass"
                            (click)="this.eventServiec.ComponentName='Add-Event'" [icon]="Icon"></fa-icon>&nbsp; <b>Add
                            Price</b></button>
                </div>
            </div>

            <div class="Child" (click)="this.eventServiec.ComponentName='Publish'">

                <button type="button" class="Item" Id="Publish" (click)="this.eventServiec.ComponentName='Publish'">&nbsp;
                    &nbsp; <fa-icon class="iconclass" (click)="this.eventServiec.ComponentName='Add-Event'"
                        [icon]="uploadIcon"></fa-icon>&nbsp; <b>Publish</b></button>
            </div>







        </div>

        <div class="Componentdata">
            <app-admin-events class="component my-component "
                *ngIf="this.eventServiec.ComponentName == 'default'"></app-admin-events>
            <app-add-event class="component" *ngIf="this.eventServiec.ComponentName == 'Add-Event'"></app-add-event>
            <app-add-activity class="component" *ngIf="this.eventServiec.ComponentName =='Add-Activity'"></app-add-activity>
            <app-add-price class="component" *ngIf="this.eventServiec.ComponentName == 'Add-Price'"></app-add-price>
            <app-publish class="component" *ngIf="this.eventServiec.ComponentName == 'Publish'"></app-publish>
            <app-update-event class="component" *ngIf="this.eventServiec.ComponentName == 'Update-Event'"></app-update-event>


        </div>

    </div>

</body>

</html>