
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <div class="container ">
    <div class="formclass mt-3 mb-3">
      <form [formGroup]="userForm" (ngSubmit)="submitForm()">
        <h2 class="heading">Reset Password</h2>
        

        <div class="form-group">
          <label style="float: left;" for="email">Email <fa-icon class="iconclass"
            [icon]="OTPverifies?checkIcon:UncheckIcon"></fa-icon></label>
          <input (keyup)="ShowInbox()" type="email" class="form-control" id="email" formControlName="Email">
          <div *ngIf="showTextfield == true">
            <button type="button" (click)="UserExists()">Generate</button>
          </div>

          <div *ngIf="userForm?.get('Email').errors?.required && submitted" class="text-danger">
            Email is Required
          </div>
          <div *ngIf="OTPMessage && IsOTP != true" class="text-danger">
            {{OTPMessage}}
          </div>
          <div *ngIf="OTPMessage && IsOTP == true" [ngStyle]="{'color':OTPverifies != false? 'green':'red'}">
            {{OTPMessage}}
          </div>

          <div *ngIf="userForm?.get('Email').errors?.pattern && submitted" class="text-danger">
            Please Enter valid Email
          </div>
        </div>

        <div *ngIf="IsOTP == true " class="form-group">
          <label style="float: left;" for="OTP">OTP</label>
          <input type="number" class="form-control" id="OTP" formControlName="OTP">
          <button (click)="VerifyOTP()">verify</button>


        </div>

        <div *ngIf="OTPverifies == true && IsExist == true" UserExistsFlag class="form-group">
          <label style="float: left;" for="Password">Password</label>
          <input type="text" class="form-control" id="Password" formControlName="Password">
          <div *ngIf="userForm?.get('Password')?.errors?.required && submitted" class="text-danger">
            Password is required.
          </div>
          <div *ngIf="userForm?.get('Password').errors?.pattern && submitted" class="text-danger">
            Please Enter Valid Password
          </div>
        </div>

        <button type="submit" id="submit" class="btn btn-primary">Submit</button>


        <div class="already">
          Go Back to Login Page
          <a style="color: blue;" routerLink="/Login"> Login</a>
        </div>
        <div *ngIf="Message" class="Message mt-3" [ngStyle]="{'color':OTPverifies != false? 'green':'red'}"><b>
            {{Message}}</b>

        </div>

      </form>

    </div>
  </div>



</body>

</html>